@import 'https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope';
@import 'https://fonts.googleapis.com/css?family=Prompt';
@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans+SC';
@import 'https://fonts.googleapis.com/css?family=Julius+Sans+One';

* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Prompt', serif;
	color: #404F5C;
    font-size: 18px;
    line-height:1.5;
}
h1	{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	color: #404F5C;
	text-shadow: 2px 2px grey;
	text-transform: uppercase;
	font-size: 6em;
	border: 1px black solid;
}

header {
	border: 1px black solid;
	padding: 5px;
}


nav	{
	text-align: center;
	border: 1px black solid;
	padding: 20px;

}

nav a {
	padding: 25px 25px;
	text-decoration: none;
    color: #404F5C;
    font-size: 15px;
}

nav a:visited {
    color: #7f7986;
}

nav a:hover {
    text-decoration: underline;
}



h2 {
	padding: 1px 50px 1px 50px;
	text-decoration-color: grey;

}


footer {
	border: 1px black solid;
	padding: 20px;
	font-family: 'Prompt', sans-serif;
	width: 100%;
	clear: both;
}


.clearfix a p {
    display:none;    
}

.clearfix a:hover p {
    display: block;
    color: white;
    font-size: 25px;

}

#links a {
	float:left;
	margin:.5%;
	position:relative;
	width:19%;

}
#links img {
    width: 100%;
}
#links p {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

}

#links a:hover {
    -webkit-filter: saturate(1.25);
    filter: saturate(1.25);
}

.coverimage {
	position: relative;
	background: url(../images/cover.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 85vh;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,.25);
}
.coverimage img {
padding: 0;
width: 100%;
opacity: 0.85;
filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}



.wrapper {
    width: 100%
    margin: 1px auto;
}


#eat {
    padding: 10px;
    float: left;
}

#play {
    padding: 10px;
    float: left;
}

#wear {
    padding: 10px;
    float: left;
}

#go {
    padding: 10px;
    float: left;
}

#gear {
    padding: 10px;
    float: left;
}

#Eat_page {

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.pics img{
    padding: 10px;
    margin: auto;
    display: block;

}
